header {
  background-color: black;
  height: 60px;
  color: white;
  font-size: 55px;
}
.top_menu li {
  float: left;
  width: auto;
}
.top_menu li a {
  color: white;
  font-size: 1.0rem;
  text-decoration: none;
  display: block;
  padding: 20px 0px 15px 40px;
}
.top_menu li a:hover {
  text-decoration: underline;
}
.clearfix:after{
  content: "";
  display: block;
  clear: both;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
ul.top_menu {
  float: left;
}
footer {
  background-color: black;
  height: 80px;
}